<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!-- Bootstrap -->

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">-->
    <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/static/css/myreset.css" rel="stylesheet">
    <!--<link href="/static/css/font-awesome.min.css" rel="stylesheet">-->
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!--<script src="/static/js/jquery-2.2.3.min.js"></script>-->
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <script src="http://static.geetest.com/static/tools/gt.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>我的个人主页</title>
</head>
<body>
<div id="bg-container">
    <img src="../static/img/bg4.jpg" width="100%" height="100%" id="bg">
    <div id="header">
        <div class="head" style="height: 80px;">
            <a href="/">我的个人主页</a>
        </div>

        <nav class="navbar navbar-static-top navbar-inverse">
            <div class="container container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                            <!--<span class="sr-only">Toggle navigation</span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--</button>-->
                            <!--<a class="navbar-brand" href="#">Brand</a>-->
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu">
                                <li id="menu-home">
                                    <a href="/">
                                        <span class="nav nav-title">主页</span>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>

                                <li id="menu-notes">
                                    <a href="/notes">
                                        <span class="nav nav-title">学习笔记</span>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>

                                <li id="menu-reading">
                                    <a href="/reading">
                                        <span class="nav nav-title">阅读</span>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>

                                <li id="menu-mood">
                                    <a href="/mood">
                                        <span class="nav nav-title">心情</span>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>

                                <li id="menu-dream">
                                    <a href="/dream">
                                        <span class="nav nav-title">梦记</span>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>

                                <li id="menu-lab">
                                    <a href="http://lab.oattao.cn">
                                        <span class="nav nav-title">实验室</span>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li style="background: none; box-shadow: none">
                                    <form class="navbar-form" role="search">
                                        <div class="form-group" id="nav-search">
                                            <input type="text" class="form-control" placeholder="查找内容">
                                            <button type="submit" class="btn btn-search" id="btn_search">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </div>


    {% block content %}{% endblock %}

    <div class="underdown-switch">
        <div class="left-switch">
            {% if user.is_authenticated %}
            <input type="hidden" id="login-hide-forJudge" value='{{user.username}} {{user.id}}'>
            <div class="half-ring">
                <a class="menu-item fa fa-star fa-2x" href="" title="收藏" style="left: 30%; top: 20%;"></a>
                <a class="menu-item fa fa-user fa-2x" href="{{url_for('user', username=user.username)}}" title="个人主页"
                   style="left: 80%; top: 35%;"></a>
                <a class="menu-item fa fa-music fa-2x" title="音乐" style="left: 80%; top: 65%;"></a>
                <a class="menu-item fa fa-sign-out fa-2x" href="{{url_for('loginout')}}" title="退出登录"
                   style="left: 30%; top: 80%;"></a>
            </div>
            {% endif %}
            <a class="menu-center btn" href="javascript:" data-toggle="lock">
                <img src="/static/user/user_img/{{user.img}}" class="img-circle user-image" id="switch-img">
            </a>
        </div>
    </div>

    <div class="login-grey"></div>
    <div class="login-popup" align="center">
        <span class="login-hide" value="{% if user.is_authenticated %}1{% else %}0{% endif %}" type="hidden"></span>
        <div class="login-close">
            <span class="fa fa-close fa-2x login-close-icon"></span>
        </div>
        <div id="login">
            {% if form %}
            <form method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    <input type="text" id="UserName" name="username" placeholder="用户名：" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" id="Psd" name="password" placeholder="密码：" class="form-control">
                </div>
                <div class="checkbox">
                    <div class="checkbox-inner">
                        <label>
                            <input type="checkbox" id="isRemember" name="remember" class="pull-left"> 记住我
                        </label>
                        <span class="alert alert-danger" id="login-alert"></span>
                    </div>
                </div>

                <div class="embed login-valid">
                    <div id="embed-captcha"></div>
                    <div class="embed-alert">
                        <p id="wait" class="show">正在加载验证码......</p>
                        <p id="notice" class="hide">请先拖动验证码到相应位置</p>
                    </div>
                </div>
                <button onclick="return false;" class="btn btn-sm" id="login-submit" type="submit"><span
                        class="login-submit-span"></span>登录
                </button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="right-chat">
        <div class="chat-body">
            <div class="fa fa-edit chat-button">留言板</div>
            <div class="chat-body-content">

            </div>
            <div class="chat-body-edit">
                <form class="form-group">
                    <p>写点什么吧：</p>
                    <textarea rows="6" placeholder="不多于140字" id="chat-content-new"></textarea>
                    <br>
                    <button class="btn btn-primary" id="chat-submit">发表</button>
                </form>
            </div>
        </div>
    </div>


    <div class="footer">
        <!--<img src="../static/img/bg4.jpg" width="100%" height="100%" id="foot-bg">-->
        <ul class="footer-content">
            <li class="footer-item" id="change-bg"><a style="cursor: pointer">更换背景</a></li>
            <li class="footer-item"><a href="#">网站信息</a></li>
            <li class="footer-item"><a href="#">意见反馈</a></li>
            <li class="footer-item"><a href="#">访问统计</a></li>
            <li class="footer-item"><a href="#">关于我</a></li>
            <li class="footer-item"><a href="/root">后台登录</a></li>
        </ul>
        <span>QQ:545023318</span>
        <span>赣ICP备15011558号</span>
        <div class="footer-copyright">Powered by Python ------ 保留所有权利</div>
    </div>
</div>


<script src="/static/js/myjs.js"></script>
</body>
</html>