<style type="text/css">#container{
            position: relative;}
#bg{
            z-index: -999;
            top: 0;
            left: 0;
            position: absolute;
}
#subject{
            color: purple;
            font-size: 20px;
            text-align: center;
            margin:10px auto;
}
#body{
            font-size: 14px;
}
#foot{
            float: right;
            color: rgba(28, 88, 239, 0.42);
}
</style>
<div id="container">
  <img id="bg" src="http://www.hzcrby.com/upload/img/ptCFg4VAmIaw3hfPpivZJJDiLtBeqetS7HZ1Wz5aBlNcRtXtOSQhZEmWJIXO6CP/IpHpZnDg869nU1910woqBQ.jpg" width="100%">
    <div id="subject">
        <p>{{subject}}</p>
    </div>
    <div id="body">
        {{body | safe}}
    </div>
    <div id="foot">
        {{foot}}
    </div>
</div>